*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    background-color: #e9ff99;
    background-image: radial-gradient(at 9% 89%, hsla(215, 90%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 72% 6%, hsla(331, 74%, 64%, 1) 0px, transparent 50%),
    radial-gradient(at 24% 19%, hsla(14, 90%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 65% 6%, hsla(6, 79%, 76%, 1) 0px, transparent 50%),
    radial-gradient(at 20% 98%, hsla(316, 72%, 64%, 1) 0px, transparent 50%),
    radial-gradient(at 44% 9%, hsla(40, 96%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 9%, hsla(76, 65%, 63%, 1) 0px, transparent 50%);
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.main .card-form{
    border-radius: 6px;
    padding: 25px;
    background-color: #fff;
}

.main .card-form .title{
    margin-bottom: 20px;
}

.main .card-form .title h1{
    font-size: 20px;
}

.main .card-form .form-input{
    margin-bottom: 10px;
}

.main .card-form .form-input textarea{
    width: 430px;
    height: 58px;
    padding: 20px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #c0c0c0;
}

.main .card-form .form-output{
    margin-bottom: 10px;
}

.main .card-form .form-output textarea{
    width: 430px;
    height: 390px;
    padding: 20px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #c0c0c0;
}

.main .card-form .tach-nhac{
    display: flex;
    justify-content: center;
}

.main .card-form .tach-nhac button{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #2668db;
    color: #fff;
    cursor: pointer;
}
