@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar{
    width: 3px;
    height: 8px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    border-radius: 2px;
    background-color: #ff4444;
    transition: all 400ms ease-in-out;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #565858;
}

::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,.1);
    border-radius: 10px;
}

body{
    background-color: #f9f9f9;
}

a{
    text-decoration: none;
    color: #000;
}

button{
    border: none;
}

header{
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

header .top{
    max-width: 1300px;
    margin: 0 auto;
}

header .top{
    height: 100px;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

header nav .left-nav{
    display: flex;
    align-items: center;
}

header nav .left-nav .logo{
    width: 230px;
}

header nav .left-nav .logo a img{
    width: 100%;
}

header nav .center-nav .menu-main ul{
    display: flex;
    align-items: center;
}

header nav .center-nav .menu-main ul li{
    position: relative;
    list-style: none;
}

header nav .center-nav .menu-main ul li a{
    display: block;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.3px;
    font-size: 13px;
    padding: 0 15px;
}

header nav .center-nav .menu-main ul li a button{
    background-color: #eb3941;
    color: white;
    border-radius: 14px;
    padding: 6px 13px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.3px;
    font-size: 12px;
    box-shadow: 0 3px 9px rgba(242, 97, 103, 0.4);
    cursor: pointer;
}

header nav .center-nav .menu-main ul li a,
header nav .center-nav .menu-main ul li a svg{
    transition: all 0.3s ease;
}

header nav .center-nav .menu-main ul li a svg{
    width: 10px;
}

header nav .center-nav .menu-main ul li:hover .sub-menu{
    display: block;
}

header nav .center-nav .menu-main ul li:hover a{
    color: #ff4444;
    text-decoration: underline;
}

header nav .center-nav .menu-main ul li:hover a svg{
    fill: #ff4444;
}

header nav .center-nav .menu-main ul li .sub-menu{
    display: none;
    position: absolute;
    left: 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    transition: initial;
    border-radius: 5px;
    width: 156px;
    background-color: #fff;
    z-index: 1;
}

header nav .center-nav .menu-main ul li .sub-menu li a{
    display: block;
    color: #333;
    position: relative;
    z-index: 100;
    text-transform: none;
    height: 46px;
    line-height: 46px;
    font-weight: 400;
    transition: initial;
    text-decoration: none;
}

header nav .center-nav .menu-main ul li .sub-menu li a:hover{
    color: #ff4444;
    text-decoration: underline;
}

header nav .right-nav form{
    position: relative;
}

header nav .right-nav form input{
    width: 215px;
    background-color: #fff;
    line-height: 40px;
    padding: 0 40px 0 20px;
    color: #000;
    border-radius: 60px;
    border: 1px solid #eee;
    outline: none;
}

header nav .right-nav form .search-button{
    position: absolute;
    right: 0;
    padding: 12px 9px 6px 9px;
    background-color: transparent;
    margin-right: 5px;
    cursor: pointer;
}

header nav .right-nav form .search-button svg{
    fill: #000;
    transition: all 0.3s ease;
}

header nav .right-nav form .search-button:hover svg{
    fill: #ff4444;
}

.main .post-container{
    max-width: 1150px;
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.main .post-container .posts-all{
    width: 70%;
    height: max-content;
    line-height: 1.4;
}

.main .post-container .posts-all .title-category{
    font-size: 110%;
    width: 90%;
    margin: 10px auto;
    color: #fff;
    text-align: center;
    padding: .3em 0;
    background-color: #141629;
    border-radius: 10px;
}

.main .post-container .posts-all .title-category .name-category{
    font-weight: 700;
}

.main .post-container .posts-all .list-movies{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.main .post-container .posts-all .list-movies .item{
    width: 30.66%;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #333;
    position: relative;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.22);
    border-radius: 7px;
    height: auto;
    aspect-ratio: 246.812/311.188;
}

.main .post-container .posts-all .list-movies .item img{
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
    transition: all 0.9s ease;
}

.main .post-container .posts-all .list-movies .item:hover img{
    transform: scale(1.1);
    opacity: 0.5;
}

.main .post-container .posts-all .list-movies .item .info{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-image: linear-gradient(0deg, rgb(2, 0, 36) 10%, rgba(0, 0, 0, 0) 100%);
    padding: 10px 10px 0;
}

.main .post-container .posts-all .list-movies .item .info .title-movies{
    padding: 15px 10px;
    width: 100%;
    color: #fff;
}

.main .post-container .posts-all .list-movies .item .info .title-movies p{
    background-color: #ff4444;
    color: #fff;
    padding: 6px;
    font-size: 12px;
    font-weight: 500;
    line-height: 13px;
    margin: 0 0 5px 0px;
    display: inline-block;
    transition: all .3s;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.main .post-container .posts-all .list-movies .item .info .title-movies p:hover{
    background-color: #ff1818;
}

.main .post-container .posts-all .list-movies .item .info .title-movies h2{
    text-align: left;
    font-size: 15px;
    text-transform: none;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.main .post-container .posts-all .list-movies .item .info .title-movies h2:hover{
    color: #f76e6e;
}

.main .post-container .posts-all .more-view{
    padding-top: 15px;
}

.main .post-container .posts-all .more-view a{
    font-size: 100%;
    padding: 8px 15px;
    background-color: #ff4444;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    display: inline-block;
    transition: all 0.3s ease;
}

.main .post-container .posts-all .more-view a:hover{
    background-color: #f83b3b;
}

.main .post-container .posts-all .more-view .after-button{
    float: left;
}

.main .post-container .posts-all .more-view .before-button{
    float: right;
}

.main .post-container .sidebar-section{
    width: 29%;
}

.main .post-container .sidebar-section .evaluate,
.main .post-container .sidebar-section .online-fanpage,
.main .post-container .sidebar-section .trending,
.main .post-container .sidebar-section .all-tags{
    background-color: #fff;
    margin: 0 0 20px;
    border: 1px solid #eee;
    border-radius: 7px;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    line-height: 1.4;
}

.main .post-container .sidebar-section .evaluate h2,
.main .post-container .sidebar-section .online-fanpage h2,
.main .post-container .sidebar-section .trending h2,
.main .post-container .sidebar-section .all-tags h2{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: #333;
    padding-bottom: 15px;
    display: block;
    line-height: 18px;
}

.main .post-container .sidebar-section .evaluate .widget-content{
    width: 100%;
    height: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .post-container .sidebar-section .evaluate .widget-content img{
    width: 230px;
}

.main .post-container .sidebar-section .online-fanpage .widget-content .online{
    width: 81px;
}

.main .post-container .sidebar-section .online-fanpage .widget-content .facebook-fanpage{
    position: relative;
    width: 100%;
    height: 130px;
    overflow: hidden;
}

.main .post-container .sidebar-section .online-fanpage .widget-content .facebook-fanpage .background-fanpage{
    width: 100%;
    height: 100%;
}

.main .post-container .sidebar-section .online-fanpage .widget-content .facebook-fanpage .background-fanpage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main .post-container .sidebar-section .online-fanpage .widget-content .facebook-fanpage .profile-fanpage{
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient( to bottom, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, 0) 100% );
    width: 100%;
    display: flex;
    padding: 8px;
    bottom: 40px;
}

.main .post-container .sidebar-section .online-fanpage .widget-content .facebook-fanpage .profile-fanpage .logo-fanpage{
    width: 50px;
    height: 50px;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 5px;
}

.main .post-container .sidebar-section .online-fanpage .widget-content .facebook-fanpage .profile-fanpage .logo-fanpage img{
    width: 100%;
    height: 100%;
    display: block;
}

.main .post-container .sidebar-section .online-fanpage .widget-content .facebook-fanpage .profile-fanpage .title-fanpage{
    display: flex;
    flex-direction: column;
}

.main .post-container .sidebar-section .online-fanpage .widget-content .facebook-fanpage .profile-fanpage .title-fanpage .title{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.main .post-container .sidebar-section .online-fanpage .widget-content .facebook-fanpage .profile-fanpage .title-fanpage .follow{
    color: #fff;
    font-size: 13px;
}

.main .post-container .sidebar-section .online-fanpage .widget-content .facebook-fanpage .follow-fanpage{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 8px;
}

.main .post-container .sidebar-section .online-fanpage .widget-content .facebook-fanpage .follow-fanpage a{
    background-color: #f5f6f7;
    border: 1px solid rgba(0, 0, 0, .12);
    color: #4b4f56;
    font-size: 13px;
    padding: 0 5px;
    font-weight: 500;
    display: flex;
}

.main .post-container .sidebar-section .online-fanpage .widget-content .facebook-group{
    width: 100%;
    height: 260px;
    overflow: hidden;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
}

.main .post-container .sidebar-section .online-fanpage .widget-content .facebook-group .background-group{
    width: 100%;
    height: 170px;
    overflow: hidden;
}

.main .post-container .sidebar-section .online-fanpage .widget-content .facebook-group .background-group img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main .post-container .sidebar-section .online-fanpage .widget-content .facebook-group .info-group{
    padding: 6px 8px;
    text-align: center;
}

.main .post-container .sidebar-section .online-fanpage .widget-content .facebook-group .info-group .title-group{
    font-size: 15px;
    font-weight: 700;
    color: #040203;
}

.main .post-container .sidebar-section .online-fanpage .widget-content .facebook-group .info-group .member-group{
    font-size: 11px;
    color: #7a797f;
    font-weight: 500;
}

.main .post-container .sidebar-section .online-fanpage .widget-content .facebook-group .link-group{
    padding: 0 8px;
}

.main .post-container .sidebar-section .online-fanpage .widget-content .facebook-group .link-group a{
    width: 100%;
    padding: 5px;
    display: block;
    text-align: center;
    background-color: #4167b2;
    font-size: 13px;
    color: #fff;
    font-weight: 500;
}

.main .post-container .sidebar-section .trending .widget-content ul{
    line-height: 1.4em;
}

.main .post-container .sidebar-section .trending .widget-content ul li{
    padding: .7em 0;
    position: relative;
    list-style: none;
}

.main .post-container .sidebar-section .trending .widget-content ul li:not(:last-child){
    border-bottom: 1px dotted rgba(0,0,0,0.2);
}

.main .post-container .sidebar-section .trending .widget-content ul li::before{
    font-family: fontawesome;
    content: '\f005\f005\f005\f005\f005';
    display: inline-block;
    position: absolute;
    color: #f39c12;
    text-align: center;
    bottom: 0;
    right: 0;
    margin: 9px 0;
    font-size: 11px;
    padding: 0;
    font-weight: normal;
    line-height: normal;
    transition: all .3s;
}

.main .post-container .sidebar-section .trending .widget-content ul li .item .item-poster{
    width: 130px;
    height: 160px;
    float: left;
    margin-right: 10px;
}

.main .post-container .sidebar-section .trending .widget-content ul li .item .item-poster a,
.main .post-container .sidebar-section .trending .widget-content ul li .item .item-title a{
    font-weight: 700;
    color: #444444;
    transition: all 0.3s ease;
    line-height: 1.6;
}

.main .post-container .sidebar-section .trending .widget-content ul li .item .item-title a:hover{
    color: #ee8f04;
    text-decoration: underline;
}

.main .post-container .sidebar-section .trending .widget-content ul li .item .item-poster a img{
    display: block;
    width: 100%;
    height: 100%;
}

.main .post-container .sidebar-section .trending .widget-content ul li .item .item-snippet{
    font-size: 13px;
    color: #555;
    font-weight: 400;
    margin-top: 10px;
}

.main .post-container .sidebar-section .all-tags .widget-content{
    display: flex;
    flex-wrap: wrap;
}

.main .post-container .sidebar-section .all-tags .widget-content .tag-title a{
    background-color: #fff;
    color: #333;
    font-weight: 500;
    line-height: 100%;
    padding: 10px 8px;
    transition: all .6s;
    font-size: 11px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin: 0 5px 5px 0;
    display: block;
}

.main .post-container .sidebar-section .all-tags .widget-content .tag-title a:hover{
    background: #ff4444;
    border: 1px solid #ff4444;
    color: #fff;
}

footer{
    background-image: url(./assets/bg_footer.jpg);
}

footer .footer-top{
    width: 1150px;
    margin: 0 auto;
    padding: 20px 0 0 0;
}

footer .footer-top h2,
footer .footer-center .footer-widget .widget h2{
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 0;
}

footer .footer-top .list-source{
    display: flex;
    flex-wrap: wrap;
    margin: 35px 0 15px;
    color: #fff;
    align-items: flex-start;
}

footer .footer-top .list-source .item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px 0 0 0;
    padding: 7px 0;
}

footer .footer-top .list-source .item span,
footer .footer-center .footer-widget .widget .list-source .item span{
    font-family: arial;
    display: block;
    width: 70px;
    font-weight: bold;
    margin-top: 7px;
    word-break: break-word;
    line-height: 1.3;
}

footer .footer-top .list-source .item img{
    display: block;
    margin-right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

footer .footer-center{
    width: 1150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

footer .footer-center .footer-widget{
    width: 30.15%;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-top: 15px;
}

footer .footer-center .footer-widget .widget .list-source{
    margin: 25px 0 15px;
    color: #fff;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

footer .footer-center .footer-widget .widget .bottom-source{
    margin-top: 0;
}

footer .footer-center .footer-widget .widget .list-source .item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    padding: 7px 0;
}

footer .footer-center .footer-widget .widget .list-source .item img{
    display: block;
    margin-right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

footer .footer-center .footer-widget .widget .list-source .item p.sieutamphim{
    font-family: arial;
    display: block;
    font-weight: bold;
    margin-top: 7px;
}

footer .footer-center .footer-widget .widget .list-source .item p i{
    font-size: 15px;
    margin-right: 4px;
}

.footer-bottom{
    background-color: #fff;
    padding: 5px;
}

.footer-bottom .credit{
    line-height: normal;
    margin: 15px;
    color: #333;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
}

.footer-bottom .credit span a{
    color: #ff4444;
}
