@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar{
    width: 3px;
    height: 8px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    border-radius: 2px;
    background-color: #ff4444;
    transition: all 400ms ease-in-out;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #565858;
}

::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,.1);
    border-radius: 10px;
}

body{
    background-color: #EDF3F5;
}

a{
    text-decoration: none;
    color: #000;
}

button{
    border: none;
}

header{
    background-color: #fff;
}

header .top{
    max-width: 1300px;
    margin: 0 auto;
}

header .top{
    height: 100px;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

header nav .left-nav{
    display: flex;
    align-items: center;
}

header nav .left-nav .logo{
    width: 230px;
}

header nav .left-nav .logo a img{
    width: 100%;
}

header nav .center-nav .menu-main ul{
    display: flex;
    align-items: center;
}

header nav .center-nav .menu-main ul li{
    position: relative;
    list-style: none;
}

header nav .center-nav .menu-main ul li a{
    display: block;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.3px;
    font-size: 13px;
    padding: 0 15px;
}

header nav .center-nav .menu-main ul li a button{
    background-color: #eb3941;
    color: white;
    border-radius: 14px;
    padding: 6px 13px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.3px;
    font-size: 12px;
    box-shadow: 0 3px 9px rgba(242, 97, 103, 0.4);
    cursor: pointer;
}

header nav .center-nav .menu-main ul li a,
header nav .center-nav .menu-main ul li a svg{
    transition: all 0.3s ease;
}

header nav .center-nav .menu-main ul li a svg{
    width: 10px;
}

header nav .center-nav .menu-main ul li:hover .sub-menu{
    display: block;
}

header nav .center-nav .menu-main ul li:hover a{
    color: #ff4444;
    text-decoration: underline;
}

header nav .center-nav .menu-main ul li:hover a svg{
    fill: #ff4444;
}

header nav .center-nav .menu-main ul li .sub-menu{
    display: none;
    position: absolute;
    left: 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    transition: initial;
    border-radius: 5px;
    width: 156px;
    background-color: #fff;
    z-index: 1;
}

header nav .center-nav .menu-main ul li .sub-menu li a{
    display: block;
    color: #333;
    position: relative;
    z-index: 100;
    text-transform: none;
    height: 46px;
    line-height: 46px;
    font-weight: 400;
    transition: initial;
    text-decoration: none;
}

header nav .center-nav .menu-main ul li .sub-menu li a:hover{
    color: #ff4444;
    text-decoration: underline;
}

header nav .right-nav form{
    position: relative;
}

header nav .right-nav form input{
    width: 215px;
    background-color: #fff;
    line-height: 40px;
    padding: 0 40px 0 20px;
    color: #000;
    border-radius: 60px;
    border: 1px solid #eee;
    outline: none;
}

header nav .right-nav form .search-button{
    position: absolute;
    right: 0;
    padding: 12px 9px 6px 9px;
    background-color: transparent;
    margin-right: 5px;
    cursor: pointer;
}

header nav .right-nav form .search-button svg{
    fill: #000;
    transition: all 0.3s ease;
}

header nav .right-nav form .search-button:hover svg{
    fill: #ff4444;
}

.main .news-post{
    background-image: linear-gradient(45deg,#ff3283,#9e0e2f);
    height: 505px;
    padding: 10px 30px 30px 30px;
    margin-bottom: 20px;
}

.main .news-post .bg .featured-post{
    width: 1150px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.main .news-post .bg .featured-post .title h2{
    color: #fff;
    font-size: 26px;
    text-align: center;
    font-weight: 700;
    padding-bottom: 10px;
    line-height: 45px;
}

.main .news-post .bg .featured-post .title .horizontal-mini{
    background-color: #fff;
    height: 0.7px;
    margin: 0 auto;
    max-width: 75px;
    margin-bottom: 5px;
}

.main .news-post .bg .featured-post .title .horizontal{
    background-color: #fff;
    height: 0.7px;
    margin: 0 auto;
    max-width: 150px;
    margin-bottom: 5px;
}

.main .news-post .bg .featured-post .title .horizontal-mini1{
    background-color: #fff;
    height: 0.7px;
    margin: 0 auto;
    max-width: 75px;
    margin-bottom: 20px;
}

.main .news-post .bg .featured-post .movie-news{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .news-post .bg .featured-post .movie-news .item{
    position: relative;
    aspect-ratio: 3/4;
    width: 272px;
    overflow: hidden;
    border-radius: 7px;
    cursor: pointer;
    background-color: #2f3238;
}

.main .news-post .bg .featured-post .movie-news .item:hover img{
    transform: scale(1.1);
    opacity: 0.5;
}

.main .news-post .bg .featured-post .movie-news .item img{
    width: 100%;
    height: 100%;
    transition: all 0.9s ease;
}

.main .news-post .bg .featured-post .movie-news .item .info{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 1;
    background-image: linear-gradient(0deg, rgb(2, 0, 36) 10%, rgba(0, 0, 0, 0) 100%);
    padding: 10px 10px 0 10px;
}

.main .news-post .bg .featured-post .movie-news .item .info .title{
    padding: 15px 10px 43px 10px;
}

.main .news-post .bg .featured-post .movie-news .item .info .title p,
.main .all-source .source .list-movies .item .info .title-movies p{
    background-color: #ff4444;
    color: #fff;
    padding: 6px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;
    margin-bottom: 9px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: max-content;
    line-height: 13px;
}

.main .news-post .bg .featured-post .movie-news .item .info .title p:hover{
    background-color: #ff1818;
}

.main .news-post .bg .featured-post .movie-news .item .info .title span,
.main .all-source .source .list-movies .item .info .title-movies span{
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 50px;
    transition: all 0.3s ease;
    line-height: 1.4;
}

.main .news-post .bg .featured-post .movie-news .item .info .title span:hover{
    color: #f76e6e;
}

.main .all-source{
    width: 1150px;
    margin: 0 auto;
}

.main .all-source .source .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #101121;
    padding: 7px 10px;
    border-radius: 10px;
}

.main .all-source .source .title .title_name{
    display: flex;
    align-items: center;
}

.main .all-source .source .title .title_name img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.main .all-source .source .title .title_name h2{
    font-size: 22px;
    color: #e8e8e8;
    font-weight: 600px;
}

.main .all-source .source .title a{
    display: flex;
    align-items: center;
    background-color: #ff4444;
    color: #fff;
    padding: 8px 15px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid #ff4444;
    transition: all 0.3s ease;
}

.main .all-source .source .title a:hover{
    background-color: #f83b3b;
    border: 1px solid #f83b3b;
}

.main .all-source .source .title a i{
    font-size: 12px;
    margin-right: 3px;
    margin-top: 0.6px;
}

.main .all-source .source .list-movies{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 34px;
    margin-top: 20px;
}

.main .all-source .source .list-movies .item{
    position: relative;
    aspect-ratio: 3/4;
    width: 272px;
    overflow: hidden;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 3px 3px 8px 1px #888888;
    background-color: #2f3238;
}

.main .all-source .source .list-movies .item:hover img{
    transform: scale(1.1);
    opacity: 0.5;
}

.main .all-source .source .list-movies .item img{
    width: 100%;
    height: 100%;
    transition: all 0.9s ease;
}

.main .all-source .source .list-movies .item .info{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 1;
    background-image: linear-gradient(0deg, rgb(2, 0, 36) 10%, rgba(0, 0, 0, 0) 100%);
    padding: 10px 10px 0 10px;
}

.main .all-source .source .list-movies .item .info .title-movies{
    padding: 15px 10px 43px 10px;
}

.main .all-source .source .list-movies .item .info .title-movies p:hover{
    background-color: #ff1818;
}

.main .all-source .source .list-movies .item .info .title-movies span:hover{
    color: #f76e6e;
}

.all-view{
    text-align: center;
    margin-bottom: 30px;
}

.all-view h2 a{
    padding: 8px 15px;
    background-color: #ff4444;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.all-view h2 a:hover{
    background-color: #f83b3b;
}

footer{
    background-image: url(./assets/bg_footer.jpg);
}

footer .footer-top{
    width: 1150px;
    margin: 0 auto;
    padding: 20px 0 0 0;
}

footer .footer-top h2,
footer .footer-center .footer-widget .widget h2{
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 0;
}

footer .footer-top .list-source{
    display: flex;
    flex-wrap: wrap;
    margin: 35px 0 15px;
    color: #fff;
    align-items: flex-start;
}

footer .footer-top .list-source .item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px 0 0 0;
    padding: 7px 0;
}

footer .footer-top .list-source .item span,
footer .footer-center .footer-widget .widget .list-source .item span{
    font-family: arial;
    display: block;
    width: 70px;
    font-weight: bold;
    margin-top: 7px;
    word-break: break-word;
    line-height: 1.3;
}

footer .footer-top .list-source .item img{
    display: block;
    margin-right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

footer .footer-center{
    width: 1150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

footer .footer-center .footer-widget{
    width: 30.15%;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-top: 15px;
}

footer .footer-center .footer-widget .widget .list-source{
    margin: 25px 0 15px;
    color: #fff;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

footer .footer-center .footer-widget .widget .bottom-source{
    margin-top: 0;
}

footer .footer-center .footer-widget .widget .list-source .item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    padding: 7px 0;
}

footer .footer-center .footer-widget .widget .list-source .item img{
    display: block;
    margin-right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

footer .footer-center .footer-widget .widget .list-source .item p.sieutamphim{
    font-family: arial;
    display: block;
    font-weight: bold;
    margin-top: 7px;
}

footer .footer-center .footer-widget .widget .list-source .item p i{
    font-size: 15px;
    margin-right: 4px;
}

.footer-bottom{
    background-color: #fff;
    padding: 5px;
}

.footer-bottom .credit{
    line-height: normal;
    margin: 15px;
    color: #333;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
}

.footer-bottom .credit span a{
    color: #ff4444;
}
