@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    background-color: #141414;
    color: #fff;
}

a{
    text-decoration: none;
    color: #fff;
}

img{
    object-fit: cover;
}

header,
.main,
.color-footer{
    width: 1300px;
    margin: 0 auto;
    overflow: hidden;
}

header{
    height: 68px;
    margin: 0 auto;
    overflow: hidden;
}

header nav{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .left-nav a{
    color: #01e75d;
    font-size: 23px;
    font-weight: 700;
}

header nav .right-nav a{
    font-size: 14px;
    font-weight: 500;
}

header nav .right-nav a:not(:last-child){
    margin-right: 10px;
}

.main{
    margin-top: 20px;
}

.main .featured-movie{
    position: relative;
    width: 100%;
    height: 550px;
    border-radius: 10px;
    overflow: hidden;
}

.main .featured-movie img.bg{
    width: 100%;
    height: 100%;
    position: absolute;
}

.main .featured-movie .title-button{
    position: absolute;
    height: 100%;
    width: 900px;
    background: linear-gradient(to right, #750eeb, transparent);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main .featured-movie .title-button img{
    margin-top: 70px;
    margin-left: 70px;
    margin-bottom: 10px;
    width: 279px;
}

.main .featured-movie .title-button p{
    color: #fff;
    margin-left: 70px;
    margin-bottom: 15px;
    width: 350px;
    font-weight: 500;
}

.main .featured-movie .title-button a {
    margin-left: 70px;
}

.main .featured-movie .title-button a i{
/*    background-color: #01d157;*/
    font-size: 25px;
    border-radius: 50%;
/*    padding: 10px;*/
}

.main .list-movie{
    margin-top: 70px;
}

.main .list-movie h2{
    color: #fff;
    margin-bottom: 18px;
}

.main .list-movie .slider{
    display: flex;
    justify-content: space-between;
}

.main .list-movie .slider .item a .poster{
    width: 245px;
    height: 345px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
    position: relative;
}

.main .list-movie .slider .item a .play-button{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.main .list-movie .slider .item a:hover .play-button {
    opacity: 1;
}

.main .list-movie .slider .item a .play-button .icon-play{
    width: 29px;
}

.main .list-movie .slider .item a .play-button .icon-play path{
    fill: #fff;
}

.main .list-movie .slider .item a .poster img{
    width: 100%;
    height: 100%;
}

.main .list-movie .slider .item a span{
    font-size: 17px;
    font-weight: 500;
}

footer{
    background-color: #191919;
    height: 500px;
    margin-top: 90px;
}

footer .color-footer{
    padding: 30px 0;
}

footer .color-footer p{
    color: #fff;
}



/* Movie CSS */
.main .iframe{
    width: 100%;
    background-color: #202020;
    height: 579px;
    border-radius: 5px;
    overflow: hidden;
}

.main .iframe iframe{
    width: 100%;
    height: 100%;
}

.main .title-movie{
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.main .title-movie h2{
    color: #fff;
}

.main .title-movie i{
    color: #fff;
}

.main .choose-ep{
    background-color: #202020;
    padding: 15px;
    border-radius: 5px;
    margin-top: 15px;
}

.main .choose-ep p{
    color: #fff;
    margin-bottom: 10px;
}

.main .choose-ep .list-episode button{
    border: none;
/*    background-color: #01a345;*/
    color: #fff;
    padding: 7px 10px;
    border-radius: 3px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    background-color: #4f4f4f;
}

.main .choose-ep .list-episode button.active{
    background-color: #01a345;
}

.main .detal-movie{
    padding: 20px;
    background-color: #202020;
    margin-top: 30px;
    border-radius: 7px;
}

.main .detal-movie .info-movie{
    display: flex;
}

.main .detal-movie .info-movie .poster-movie{
    width: 245px;
    height: 345px;
    overflow: hidden;
    flex-shrink: 0;
    border-radius: 5px;
    margin-right: 25px;
}

.main .detal-movie .info-movie .poster-movie img{
    width: 100%;
    height: 100%;
}

.main .detal-movie .info-movie .info .category-movie,
.main .detal-movie .info-movie .info .lt-tm,
.main .detal-movie .info-movie .info .year-movie{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.main .detal-movie .info-movie .info .category-movie span,
.main .detal-movie .info-movie .info .lt-tm span,
.main .detal-movie .info-movie .info .year-movie span{
    color: #fff;
    width: 135px;
}

.main .detal-movie .info-movie .info .category-movie a:not(:last-child){
    margin-right: 7px;
}

.main .detal-movie .info-movie .info .category-movie a{
    background-color: #F87171;
    padding: 3px 7px;
    font-size: 14px;
    border-radius: 4px;
}

.main .detal-movie .info-movie .info .lt-tm a{
    background-color: #C084FC;
    padding: 3px 7px;
    font-size: 14px;
    border-radius: 4px;
}

.main .detal-movie .info-movie .info .year-movie a{
    background-color: #8490fc;
    padding: 3px 7px;
    font-size: 14px;
    border-radius: 4px;
}

.main .detal-movie .info-movie .info .description-movie{
    width: 800px;
    line-height: 1.5;
    margin-top: 30px;
}

.main .detal-movie .info-movie .info .description-movie p{
    color: #C6C3BD;
}

.main .list-tags{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.main .list-tags a:not(:last-child){
    margin-right: 7px;
}

.main .list-tags a{
    color: #fff;
    background-color: #242424;
    padding: 7px 9px;
    border-radius: 3px;
}


/* category & search */

.main .list-film{
    display: flex;
    flex-wrap: wrap;
}

.main .list-film .item{
    width: calc(100%/7);
    overflow: hidden;
    padding: 5px;
}

.main  .list-film .item a .poster{
    width: 100%;
    height: 270px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

.main .list-film .item a .poster img{
    width: 100%;
    height: 100%;
}

.main .list-film .item a span{
    font-size: 14px;
    font-weight: 500;
}

.main .list-menu{
    padding: 10px;
    background-color: #202020;
    margin-top: 20px;
    text-align: center;
}

.main .list-menu button.change-ep{
    border: none;
    padding: 5px 9px;
    font-size: 14px;
    background-color: #01a345;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}


/* .main .list-movie .slider .item a .poster{
    width: 245px;
    height: 345px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
}

.main .list-movie .slider .item a .poster img{
    width: 100%;
    height: 100%;
}

.main .list-movie .slider .item a span{
    font-size: 17px;
    font-weight: 500;
} */


/*.noverlay-opacity{
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.noverlay-opacity .notification-ep{
    padding: 30px;
    background-color: #202020;
    border-radius: 10px;
    width: max-content;
    text-align: center;
}

.noverlay-opacity .notification-ep .notification{
    font-weight: 800;
    margin-bottom: 10px;
}

.noverlay-opacity .notification-ep .ep-now{
    margin-bottom: 5px;
}

.noverlay-opacity .notification-ep .list-btn button{
    border: none;
    background-color: #191919;
    color: #fff;
    padding: 7px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.noverlay-opacity .notification-ep .list-btn button:not(:last-child){
    margin-right: 5px;
}

.noverlay-opacity .notification-ep .list-btn button.next-ep{
    background-color: #01a345;
}*/
